.container {
    padding: 1rem;
    text-align: center;
  }
  
  .buttons {
    display: inline-flex;
  }
  
  .buttons .button {
    border-left-width: 0;
  }
  
  .buttons .button:first-child {
    border-left-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .buttons .button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .button {
    background-color: transparent;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    display: inline-flex;
    padding: 0.5rem 1rem;
  }
  
  .button svg {
    fill: #aaa;
  }
  
  .button.button-like:hover svg {
    fill: #e4007f;
  }
  
  .button.button-comment:hover svg {
    fill: #00e262;
  }
  
  .button.button-share:hover svg {
    fill: #0053e2;
  }